<h1>Chat</h1>
<div *ngIf="nickname">
  <h1>Hi {{nickname}}</h1>
  <label>
    Message:
    <input type="text" [formControl]="messageFC">
  </label>

  <button (click)="sendMessage()">Send Message</button>
</div>
<div *ngIf="!nickname">
  <label>
    Name:
    <input type="text" [formControl]="nicknameFC">
  </label>

  <button (click)="sendNickname()">Send Nickname</button>
</div>

<h3>Messages</h3>
<h4 *ngFor="let message of messages">
  {{message.sender.nickName}} ---- {{message.message}}
</h4>

<div *ngIf="clients$ | async as clients">
  <h3>Users</h3>
<ul>
  <li *ngFor="let client of clients">
    {{client.nickName}}
  </li>
</ul>
</div>
